<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <h1>{{ settings.siteName }}</h1>
        <h2>{{ settings.siteSubtitle }}</h2>
        <h3>{{ settings.sitePresentation|raw }}</h3>
        <a href="#about" class="btn-scroll scrollto" title="Scroll Down"><i class="fa-solid fa-chevron-down"></i></a>
    </div>
</section><!-- End Hero -->